*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary: 219, 50%, 41%;
  --border: 0, 0%, 88%;
  --muted: 0, 0%, 40%;
  --placeholder: 0, 0%, 60%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
